<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Dash</title>
</head>
<body>
    <h1>Welcome to my Bug Dash !!!</h1>
    <h2>Please login to access and add bugs.</h2>
    <p>ADD BUG | VIEW BUG | EDIT BUG | DELETE BUG</p>

    <h2>Bugs</h2>
    <ul>
        <li *ngFor="let bug of bugs">{{bug.id}} - {{bug.title}} - {{bug.status}}</li><br>
            
    </ul>
    <p *ngIf="error" style="color:red">{{error}}</p>
</body>
</html>
